body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url(assets/stars-background.gif);
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid blue;
  border-radius:10px;
  position:absolute;
}

.baby{
  content:url("assets/dancing-baby-1.gif");
  position: absolute;
}

.elaine{
  content:url("assets/elaine.gif");
  position: absolute;
}