body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url(assets/stars-background.gif);
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: #ff69b4;
}
.title, .lineUpDancers, .addBlinkyDancerButton, .addDancingBabyButton, .addElaineDanceButton {
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #00f030;
  font-family: 'Limelight', cursive;
}
.title{
  background-color: #00c0f0;
}
.dancer{
  border:15px solid #d8f000;
  border-radius:10px;
  position:absolute;
}

.baby{
  position: absolute;
}

.elaine{
  content:url("assets/elaine.gif");
  position: absolute;
}
